#sign-up-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#sign-up-button:hover {
    background-color: gray;
    color: white;
}